* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 320px;
    margin: 0 auto;
}
.header {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 320px;
    margin: 0 auto;
    z-index: 1;
}
.promo {
    position: relative;
    max-width: 320px;
    margin: 0 auto;
}
.promo-background {
    display: block;
    max-width: 100%;
    height: auto;
}
.registration {
    padding: 20px 60px 0 60px;
    width: 320px;
    display: flex;
    justify-content: space-around;
}
.registration-button {
    width: 90px;
    height: 36px;
    border: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    background-color: transparent;
}
.registration-button:hover {
    border: 3px solid #fff;
    border-radius: 20px;
}

.slogan, .subslogan, .submit {
    color: #fff;
    position: absolute;
}
.title {
    letter-spacing: 0.1em;
    color: #fff;
    margin-top: 120px;
    order: 2;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}
.slogan {
    display: inline-block;
    width: 320px;
    max-height: 80px;
    text-align: center;
    z-index: 5;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    top: 235px;
    color: #fff;
}
.subslogan {
    display: inline-block;
    top: 306px;
    margin-left: 45px;
    width: 230px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}
.submit {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    border: none;
    background-color: #ff4e50;
    border-radius: 20px;
    top: 362px;
    width: 280px;
    height: 40px;
    text-align: center;
    margin-left: 20px;
}
.main {
    width: 320px;
    margin: 0 auto;
}
.partner {
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
.partner_tv_icon::after {
    content: url(../img/partner_icon1.png);
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 85px;
    left: 120px;
    z-index: 100;
}
.partner_chemistry_icon::after {
    content: url(../img/partner_icon2.png);
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 85px;
    left: 120px;
    z-index: 100;
}
.partner_tea_icon::after {
    content: url(../img/partner_icon3.png);
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 85px;
    left: 120px;
    z-index: 100;
}
.partner_letter_icon::after {
    content: url(../img/partner_icon4.png);
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 85px;
    left: 120px;
    z-index: 100;
}
.partners-title {
    margin-top: 70px;
    margin-left: 8%;
    display: inline-block;
    width: 262px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 21.98px;
    text-align: center;
    color: #333333;
}
.partner-name {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13.97px;
    text-align: center;
    color: #333333;
}
.partner-description {
    margin-top: 8px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 13.97px;
    color: #666666;
    text-align: center;
}
.partners_image {
    display: block;
    max-width: 100%;
    height: auto;
}
.others-button {
    width: 280px;
    height: 40px;
    color: #ff4e50;
    border: 3px solid #ff4e50;
    border-radius: 20px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 57px;
    margin-left: 18px;
}
@media (min-width: 768px) and (max-width: 1439px) {
    .wrapper {
        width: 768px;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 768px;
    }
    .promo {
        max-width: 768px;
    }
    .registration {
        padding: 37px 45px 0 0;
        width: 250px;
        justify-content: space-around;
    }
    .title {
        margin-top: 37px;
        margin-left: 50px;
        order: 0;
    }
    .slogan {
        top: 225px;
    }
    .subslogan {
        margin-left: 200px;
        width: 400px;
    }
    .submit {
        top: 426px;
        width: 225px;
        margin-left: 270px;
    }
    .main {
        width: 768px;
    }
    .slogan {
        display: block;
        top: 225px;
        left: 128px;
        font-size: 51.97px;
        width: 550px;
        text-align: center;
    }
    .subslogan {
        top: 375px;
        font-size: 24px;
    }
    .submit {
        top: 440px;
        width: 225px;
        font-size: 14px;
    }
    .list-of-partners {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 500px;
    }
    .partners-title {
        font-size: 22px;
        display: block;
        width: 700px;
        height: 26px;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        margin-top: 70px;
        text-align: center;
    }
    .partners-section {
        margin: 0 auto;
        width: 500px;
    }
    .partner {
        margin-top: 50px;
    }
    .others-button {
        width: 194px;
        margin-left: 155px;
    }

}
@media (min-width: 1440px) {
    .wrapper {
        width: 1440px;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1440px;
    }
    .promo {
        max-width: 1440px;
    }
    .registration {
        padding: 38px 239px 0 0;
        width: 430px;
        justify-content: space-between;
    }
    .title {
        margin-top: 50px;
        margin-left: 250px;
        order: 0;
    }
    .slogan {
        top: 227px;
        padding-left: 140px;
        width: 700px;
        font-size: 52px;
        margin-left: 300px;
    }
    .subslogan {
        margin-left: 523px;
        width: 400px;
        font-size: 24px;
        top: 375px;
    }
    .submit {
        top: 426px;
        width: 225px;
        margin-left: 602px;
    }
    .main {
        width: 900px;
    }
   
    .list-of-partners {
        display: flex;
        flex-wrap: wrap;
    }
    .partners-title {
        display: block;
        width: 700px;
        height: 26px;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        margin-top: 70px;
        text-align: center;
    }
    .partner {
        margin-top: 50px;
    }
    .others-button {
        width: 194px;
        margin-left: 350px;
        margin-top: 40px;
    }
}